<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You received a message from your portfolio website.</p>
    <p>email address: <%= @email %></p>
    <p>content: <%= @content %></p>
  </body>
</html>