<h1 class="my-5">BIOGRAPHY</h1>
<div class="biography">      
  <%= image_tag 'yukiko.jpg', width: 120, height: 120, class: 'icon' %>
  <h2>Yukiko.K</h2>
  <p>From Japanese tutor to programmer!  -I currently live in Montreal, Canada and teaching Japanese online. (More than 3400 lessons done, 4.9 stars) But I’d like to change my career to a programmer. 
The reason why I started to be interested in programming world is my friend. When pandemic started, I had a lot of free time at home. One day my friend posted on Facebook about a programming learning website. It was very interesting. When I actually tried, I felt it fits me. It’s fun because it’s not easy!  I like to improve myself and learn new things. 
I also like building websites.My goal is to work full time as a programmer! </p>   
</div>

<h1 class="mt-5">EDUCATION</h1>
<div class="text-center mb-5">
  <p>Chemistry Major, Kumamoto University, Japan</p>
</div>

<h1 class="mt-5">EXPERIENCE</h1>
<div class="text-center mb-5">
  <p>Japanese Tutor 2018 - NOW</p>
  <p>Chef 2017 - 2018</p>
  <p>General Clerk 2016 - 2017</p>
  <p>Study English in Republic of the Philippines 2015 - 2016<p>
  <p>Customer Service Representative 2014 - 2015</p>
</div>

<h1 class="mt-5">SKILLS</h1>
<div class="skills mb-5">
  <p class="skill">
    <span class="star5_rating" data-rate="3.5"></span>
    HTML
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="3.5"></span>
    CSS
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="2"></span>
    JavaScript
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="4"></span>
    Ruby
  </p>
  <p class="skill">
    <span class="star5_rating" data-rate="4"></span>
    Ruby on Rails
  </p>
</div>

<h1 class="mt-5">PROJECTS</h1>      
  <div class="mb-5 d-flex justify-content-center">    
    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'lifeinmontreal.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">Blog</h5>      
        <a href="https://yukimontrealblog.herokuapp.com/" class="btn btn-primary ">Go to this website!</a>
      </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'project_homepage.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">App website</h5>
        <a href="https://yukikosensei.github.io/awesomeapp.github.io/" class="btn btn-primary">Go to this website!</a>
      </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'sampleapp.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">App website</h5>
        <a href="https://immense-waters-84781.herokuapp.com/" class="btn btn-primary">Go to this website!</a>
      </div>
    </div>
  </div>



