<h1 class="my-5">BIOGRAPHY</h1>
  <div class="biography">      
    <%= image_tag 'yukiko.jpg', width: 120, height: 120, class: 'icon' %>
    <h2>Yukiko.K</h2>
    <p>日本語教師からプログラマーへキャリアチェンジ！- 現在、カナダのモントリオールに住みながらオンラインで日本語教師をしています。（レッスン回数：3400回以上、評価⭐︎4.9）しかし今年はプログラマーへキャリアチェンジをしたいと思っています。キャリアチェンジのきっかけはパンデミックでおうち時間が増えたときに、友人がFacebookにProgateについて投稿していたのを見て、おもしろそうだなとプログラミングに興味を持ちました。やってみると、簡単じゃないところが面白くて向上心のある私にぴったりだと感じました。サイトがどんどん完成していくのをみるのもやりがいがあります。今はプログラマーとして働くのが目標です！</p>   
  </div>

<h1 class="mt-5">EDUCATION</h1>
  <div class="education mb-5 text-center">
    <p>熊本大学工学部物質生命科学科卒業</p>
  </div>
      
<h1 class="mt-5">EXPERIENCE</h1>
  <div class="experience mb-5 text-center">
      <p>日本語教師 2018年から現在</p>
      <p>キッチンスタッフ 2017年から2018年</p>
      <p>一般事務 2016年から2017年</p>
      <p>フィリピン留学 2015年から2016年</p>
      <p>お客様対応 2014年から2015年</p>
  </div>
      
<h1 class="mt-5">SKILLS</h1>
  <div class="skills mb-5">
    <p class="skill">
      <span class="star5_rating" data-rate="3.5"></span>
      HTML
    </p>
    <p class="skill">
      <span class="star5_rating" data-rate="3.5"></span>
      CSS
    </p>
    <p class="skill">
      <span class="star5_rating" data-rate="2"></span>
      JavaScript
    </p>
    <p class="skill">
      <span class="star5_rating" data-rate="4"></span>
      Ruby
    </p>
    <p class="skill">
      <span class="star5_rating" data-rate="4"></span>
      Ruby on Rails
    </p>
  </div>
    
<h1 class="mt-5">PROJECTS</h1>      
  <div class="mb-5 d-flex justify-content-center">    
    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'lifeinmontreal.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">Blog</h5>      
        <a href="https://yukimontrealblog.herokuapp.com/" class="btn btn-primary ">Go to this website!</a>
      </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'project_homepage.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">App website</h5>
        <a href="https://yukikosensei.github.io/awesomeapp.github.io/" class="btn btn-primary">Go to this website!</a>
      </div>
    </div>

    <div class="card mx-5" style="width: 18rem;">
      <%= image_tag 'sampleapp.png', class: "card-img-top" %>
      <div class="card-body">
        <h5 class="card-title text-center">App website</h5>
        <a href="https://immense-waters-84781.herokuapp.com/" class="btn btn-primary">Go to this website!</a>
      </div>
    </div>
  </div>

  


    
