    <h1>STUDY RECORD</h1>
    <div class="studyrecord">
      <p class="text-center"><a href="https://prog-8.com/">Progate（HTML/CSS/JavaScript）</a></p>
      <p class="text-center"><a href="https://dotinstall.com/">ドットインストール（HTML/CSS/JavaScript/Ruby/Ruby on rails）</a></p>
      <p class="text-center"><a href="https://railstutorial.jp/">Ruby on Railsチュートリアル</a></p>
    </div>  